@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mapbox popup styling */
.mapboxgl-popup-content {
    border-radius: 0.5rem;
    padding: 1rem 2.5rem 1rem 1rem;
    font-size: 0.75rem;
}

.mapboxgl-popup-close-button {
    width: 30px;
    height: 30px;
    font-size: large;
}

.card {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}